:root {
  --body-font: "Inter", sans-serif;
  --body-color: #111111;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eeeeee;
  font-size: 16px;
  font-family: var(--body-font);
  line-height: 1.5;
}

button {
  background: none;
  border: none;
}

img {
  max-width: 100%;
  display: block;
}

input {
  font-family: var(--body-font);
  font-size: 1rem;
  background: none;
  border: none;
  line-height: 1.5;
}

::placeholder {
  color: #999999;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--body-color);
}

.container {
  margin: 0 32px;
}
@media (min-width: 992px) {
  .container {
    margin: 0 64px;
  }
}

.nav {
  margin-top: 36px;
}
.nav__container {
  display: flex;
  align-items: center;
}
.nav__toggler {
  height: 19px;
  display: grid;
  place-items: center;
  margin-right: 24px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
@media (min-width: 992px) {
  .nav__toggler {
    display: none;
  }
}
.nav__icon-bar {
  display: block;
  transition: 500ms;
}
.nav__icon-bar::before, .nav__icon-bar::after {
  content: "";
  position: absolute;
  left: 0;
  transition: 500ms;
}
.nav__icon-bar, .nav__icon-bar::before, .nav__icon-bar::after {
  width: 24px;
  height: 3px;
  background: #111111;
}
.nav__icon-bar::before {
  transform: translateY(calc(-100% - 5px));
}
.nav__icon-bar::after {
  transform: translateY(calc(100% + 5px));
}
.nav__toggler--active .nav__icon-bar::before {
  transform: rotate(45deg) translate(10px, -10px);
}
.nav__toggler--active .nav__icon-bar {
  transform: translateX(-15px);
  background: transparent;
}
.nav__toggler--active .nav__icon-bar::after {
  transform: rotate(-45deg) translate(10px, 10px);
}
.nav__logo {
  margin-right: auto;
}
.nav__logo img {
  max-width: none;
}
@media (min-width: 992px) {
  .nav__logo {
    margin-right: 98px;
  }
}
.nav__menu {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 90%;
  max-width: 250px;
  height: 100%;
  padding: 6rem 32px 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  transform: translateX(-100%);
  transition: 500ms;
}
.nav__menu--open {
  transform: translateX(0);
}
@media (min-width: 992px) {
  .nav__menu {
    width: 100%;
    max-width: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: none;
    position: static;
    padding: 0;
    transform: translateX(0);
  }
}
.nav__search {
  background: #eeeeee;
  border-radius: 8px;
  padding: 8px 12px;
  width: 100%;
  max-width: 448px;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .nav__search {
    background: #ffffff;
    margin-bottom: 0;
  }
}
.nav__links-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 992px) {
  .nav__links-wrapper {
    flex-direction: row;
    justify-content: flex-end;
  }
}
.nav__link {
  font-weight: 500;
  line-height: 1.188;
  display: block;
  padding: 22px;
}
.nav__link:hover {
  background: #eeeeee;
  border-radius: 8px;
}
@media (min-width: 992px) {
  .nav__link {
    padding: 0 22px 0 0;
  }
  .nav__link:hover {
    color: gray;
  }
}
.nav__user {
  position: relative;
}
.nav__user img {
  max-width: none;
}
.nav__red-dot {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 8px;
  height: 8px;
  background: #ff4242;
  border: 3px solid #eeeeee;
  border-radius: 50%;
  box-sizing: content-box;
  transform: translate(3px, -3px);
}

/*# sourceMappingURL=style.css.map */
