*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  background: #eeeeee;
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  line-height: 1.5;
  color: var(--body-color);
}

button {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

input {
  font-family: var(--body-font);
  font-size: 1rem;
  background: none;
  border: none;
  line-height: 1.5;
}

::placeholder {
  color: #999999;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--title-color);
}

h1,
h2,
h4 {
  color: var(--title-color);
}

h1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 1.208;
}

h2 {
  font-weight: 500;
  font-size: 22px;
}

h4 {
  font-weight: 500;
  line-height: 1.188;
}

.hr {
  border: none;
  height: 1px;
  background-color: #cccccc;
  margin-bottom: 2px;
}
