@use 'abstracts/variables';

:root {
  --body-font: 'Inter', sans-serif;
  --text-color: #{variables.$text-color};
  --text-hover-color: #{variables.$text-hover-color};
  --title-color: #111111;
  --normal-font-size: 16px;
  --primary-color: #{variables.$primary-color};
  --primary-hover-color: #{variables.$primary-hover-color};
  --secondary-color: #{variables.$secondary-color};
  --secondary-hover-color: #{variables.$secondary-hover-color};
  --light-color: #{variables.$light-color};
  --light-hover-color: #{variables.$light-hover-color};
}
