@use 'abstracts/mixins' as *;

.container {
  width: 85%;
  max-width: 1392px;
  margin: 0 auto;
}

.btn {
  font-weight: 500;
  line-height: 1.188;
  padding: 10.5px 12px;
  background: var(--btn-bg);
  border-radius: 8px;
  color: var(--btn-color, var(--title-color));
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 500ms;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--btn-bg-hover);

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 500ms;
    z-index: -1;
  }

  &:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }

  &--primary {
    --btn-bg: var(--primary-color);
    --btn-bg-hover: var(--primary-hover-color);
  }

  &--secondary {
    --btn-bg: var(--secondary-color);
    --btn-bg-hover: var(--secondary-hover-color);
  }

  &--light {
    --btn-bg: var(--light-color);
    --btn-bg-hover: var(--light-hover-color);
  }

  &--outline {
    --btn-bg: none;
    --btn-bg-hover: none;

    &:hover {
      color: #ffff;
    }
  }
}

.mr-16 {
  margin-right: 16px;
}

.notif-dot {
  position: relative;
  display: inline-block;

  &::after {
    content: '';
    width: 10px;
    height: 10px;
    background: #ff4242;
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(30%, -30%);
    z-index: 1;
  }

  &--outline::after {
    width: 8px;
    height: 8px;
    border: 3px solid #eeeeee;
    transform: translate(3px, -3px);
  }

  &--check::after {
    width: 16px;
    height: 16px;
    transform: translate(0, 0);
    background-image: url('img/check.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--primary-color);
  }
}

.section-margin {
  margin-bottom: 32px;

  @include mq(md) {
    margin-bottom: 56px;
  }
}

.section-heading {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 32px;
  column-gap: 24px;
  row-gap: 16px;

  p {
    grid-row: 2;
  }

  button {
    align-self: center;
    grid-row: span 2;
  }
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.swiper {
  width: 100%;
  height: 100%;
}
