.container {
  margin: 0 32px;

  @include mq(lg) {
    max-width: 85%;
    margin: 0 auto;
  }
}

.btn {
  font-weight: 500;
  line-height: 1.188;
  padding: 10.5px 12px;
  background: var(--btn-bg);
  border-radius: 8px;
  color: var(--title-color);

  &-primary {
    --btn-bg: var(--primary-color);
  }

  &-secondary {
    --btn-bg: #ffffff;
  }

  &-light {
    --btn-bg: #eeeeee;
  }
}

.mr-16 {
  margin-right: 16px;
}

.notif-dot {
  position: relative;
  display: inline-block;

  &::after {
    content: '';
    width: 10px;
    height: 10px;
    background: #ff4242;
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(30%, -30%);
  }

  &--outline::after {
    width: 8px;
    height: 8px;
    border: 3px solid #eeeeee;
    transform: translate(3px, -3px);
  }

  &--check::after {
    width: 16px;
    height: 16px;
    transform: translate(0, 0);
    background-image: url('../img/check.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--primary-color);
  }
}

.section-margin {
  margin-bottom: 32px;
}

.section-heading {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  margin-bottom: 32px;
  column-gap: 24px;
  row-gap: 16px;

  p {
    grid-row: 2;
  }

  button {
    justify-self: flex-end;
    align-self: center;
    grid-row: span 2;
  }
}

.no-scroll {
  overflow: hidden;
  position: fixed;
}
