.collections {
  .intro-card {
    background-color: var(--bg-color);

    &:nth-child(1) {
      --bg-color: #ffe6d8;
    }

    &:nth-child(2) {
      --bg-color: #ffd8eb;
    }
  }

  .intro-card__button {
    --text-color: #111111;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    background: none;
  }
}
