.footer {
  --footer-title-color: #999999;

  &__container {
    margin-top: 32px;
    margin-bottom: 56px;

    @include mq(md) {
      margin-top: 80px;
      margin-bottom: 80px;
    }
  }

  &__top {
    display: grid;
    grid-template-columns: 1fr;
    gap: 56px;
    margin-bottom: 56px;

    @include mq(md) {
      flex-direction: row;
      grid-template-columns: 40% 1fr;
      width: 90%;
      margin-bottom: 91px;
    }
  }

  &__logo-socials {
    display: flex;
    flex-direction: column;
    gap: 24px;

    ul {
      display: flex;
      gap: 16px;

      a {
        color: var(--footer-title-color);
      }
    }
  }

  h6 {
    text-transform: uppercase;
    color: var(--footer-title-color);
    margin-bottom: 24px;
  }

  &__lists-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    gap: 56px;
    flex: 1;

    @include mq(lg) {
      grid-template-columns: repeat(4, auto);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__link {
    color: var(--text-color);

    &:hover {
      color: var(--text-hover-color);
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
  }

  &__copyright {
    color: var(--footer-title-color);
  }

  &__rights {
    display: none;

    @include mq(md) {
      display: block;
      color: var(--footer-title-color);
    }
  }

  &__made {
    color: var(--footer-title-color);

    a {
      color: inherit;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    i {
      color: rgba(143, 1, 0);
    }
  }
}
