@use 'abstracts/mixins' as *;

.hero {
  margin-top: 80px;

  &__container {
    position: relative;
  }

  &__intro-wrapper {
    position: relative;
  }

  &__intro {
    max-width: 253px;
    padding-bottom: 56px;

    @include mq(md) {
      max-width: 340px;
    }
  }

  &__greet {
    display: block;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #999999;
    margin-bottom: 24px;
  }

  &__cta {
    margin-bottom: 24px;

    span:nth-of-type(1) {
      @include mq(md) {
        display: none;
      }
    }

    span:nth-of-type(2) {
      display: none;

      @include mq(md) {
        display: inline;
      }
    }
  }

  &__desc {
    font-size: 22px;
    margin-bottom: 32px;

    span:nth-of-type(1) {
      @include mq(md) {
        display: none;
      }
    }

    span:nth-of-type(2) {
      display: none;

      @include mq(md) {
        display: inline;
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }

  &__create-btn {
    span:nth-of-type(1) {
      @include mq(md) {
        display: none;
      }
    }

    span:nth-of-type(2) {
      display: none;

      @include mq(md) {
        display: inline;
      }
    }
  }

  &__showcase-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    pointer-events: none;
    z-index: -1;

    @include mq(md) {
      display: none;
    }
  }

  &__showcase {
    width: 300px;
  }

  &__showcase-desktop-wrapper {
    display: none;

    @include mq(md) {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 50%;
    }
  }

  &__showcase-desktop {
    display: none;

    @include mq(md) {
      display: block;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 70%;
    z-index: -1;
    background: #ff42ca;
    filter: blur(210.458px);
    width: 100%;
    height: 85%;
    border-radius: 50%;

    @include mq(md) {
      top: 10%;
      left: 0;
      width: 90%;
      height: 70%;
      filter: blur(320px);
    }
  }

  .hr:nth-of-type(2) {
    margin-bottom: 40px;
  }

  &__testimonial {
    display: flex;
    column-gap: 24px;

    img {
      width: 94px;
      align-self: flex-end;
    }
  }

  &__name {
    margin-bottom: 12px;
  }

  &__quote-wrapper {
    margin-top: 16px;
  }

  &__quote {
    max-width: 330px;

    @include mq(md) {
      max-width: 232px;
    }

    @include mq(lg) {
      max-width: 330px;
    }
  }
}
