@use 'abstracts/mixins' as *;

.intro-cards-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.intro-card {
  background-color: var(--bg-color, #ffffff);
  padding: 32px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;

  &:hover .intro-card__img {
    transform: translateY(-15%);
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__icon {
    width: 32px;
    height: 32px;
  }

  &__button {
    align-self: flex-start;
  }

  &__img {
    align-self: center;
    justify-self: center;
    flex-shrink: 0;
    transition: 250ms;
  }

  &--upcoming {
    &:nth-child(1) {
      --bg-color: #ffd8e6;
      --text-color: #ff005c;
    }

    &:nth-child(2) {
      --bg-color: #f2d8ff;
      --text-color: #aa00ff;
    }

    .intro-card__button {
      --btn-color: var(--text-color);
      --btn-bg-hover: var(--text-color);

      border: 1px solid var(--text-color);
    }
  }

  &--collections {
    &:nth-child(1) {
      --bg-color: #ffe6d8;
    }

    &:nth-child(2) {
      --bg-color: #d8ecff;
    }

    &:nth-child(3) {
      --bg-color: #ffd8eb;
    }

    &:nth-child(4) {
      --bg-color: #fff4d8;
    }

    .intro-card__button {
      --text-color: #111111;
      --btn-color: var(--text-color);
      --btn-bg-hover: var(--text-color);

      border: 1px solid var(--text-color);
    }
  }
}
