@use 'abstracts/mixins' as *;

.nav {
  margin-top: 36px;

  &__container {
    display: flex;
    align-items: center;
  }

  &__toggler {
    height: 19px;
    display: grid;
    place-items: center;
    margin-right: 24px;
    position: relative;
    z-index: 9999;
    cursor: pointer;

    @include mq(lg) {
      display: none;
    }

    span {
      display: block;
      width: 24px;
      height: 3px;
      background: #111111;
      transition: 500ms;
    }

    span:nth-child(1),
    span:nth-child(3) {
      position: absolute;
      left: 0;
    }

    span:nth-child(1) {
      transform: translateY(calc(-100% + -5px));
    }

    span:nth-child(3) {
      transform: translateY(calc(100% + 5px));
    }

    &--active span:nth-child(1) {
      transform: rotate(45deg);
    }

    &--active span:nth-child(2) {
      transform: translateX(-15px);
      background: transparent;
    }

    &--active span:nth-child(3) {
      transform: rotate(-45deg);
    }
  }

  &__logo {
    margin-right: auto;

    img {
      max-width: none;
    }

    @include mq(lg) {
      margin-right: 98px;
    }
  }

  &__menu {
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 90%;
    max-width: 250px;
    height: 100%;
    padding: 100px 32px 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    transform: translateX(-100%);
    transition: 500ms;
    z-index: 9998;
    gap: 24px;

    &--open {
      transform: translateX(0);
    }

    @include mq(lg) {
      width: 100%;
      max-width: none;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      background: none;
      position: static;
      padding: 0;
      transform: translateX(0);
    }
  }

  &__search {
    background: #eeeeee;
    border-radius: 8px;
    padding: 8px 12px;
    width: 100%;
    max-width: 448px;
    margin-bottom: 20px;

    @include mq(lg) {
      background: #ffffff;
      margin-bottom: 0;
    }
  }

  &__links-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include mq(lg) {
      flex-direction: row;
      justify-content: flex-end;
      gap: 22px;
      margin-right: 22px;
    }
  }

  &__link {
    font-weight: 500;
    line-height: 1.188;
    display: block;
    padding: 22px;
    position: relative;

    &:hover {
      background: #eeeeee;
      border-radius: 8px;
    }

    @include mq(lg) {
      padding: 0;

      &::after {
        content: '';
        position: absolute;
        background-color: currentColor;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;

        transform: scaleX(0);
        transform-origin: right;
        transition: transform 500ms;
      }

      &:hover {
        background: none;
        border-radius: 0;

        &::after {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
  }

  &__user {
    img {
      max-width: none;
    }
  }
}
