.hero {
  margin-top: 80px;

  &__container {
    position: relative;
  }

  &__intro-wrapper {
    position: relative;
  }

  &__intro {
    max-width: 253px;
    padding-bottom: 56px;

    @include mq(md) {
      max-width: 340px;
    }
  }

  &__greet {
    display: block;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #999999;
    margin-bottom: 24px;
  }

  &__cta {
    margin-bottom: 24px;

    span:nth-of-type(1) {
      @include mq(md) {
        display: none;
      }
    }

    span:nth-of-type(2) {
      display: none;

      @include mq(md) {
        display: inline;
      }
    }
  }

  &__desc {
    font-size: 22px;
    margin-bottom: 32px;

    span:nth-of-type(1) {
      @include mq(md) {
        display: none;
      }
    }

    span:nth-of-type(2) {
      display: none;

      @include mq(md) {
        display: inline;
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

    * {
      flex-shrink: 0;
    }
  }

  &__create-btn {
    span:nth-of-type(1) {
      @include mq(md) {
        display: none;
      }
    }

    span:nth-of-type(2) {
      display: none;

      @include mq(md) {
        display: inline;
      }
    }
  }

  &__showcase-wrapper {
    position: absolute;
    bottom: 0;
    right: -32px;

    @include mq(md) {
      bottom: unset;
      right: unset;
      top: 0;
      left: 50%;
    }
  }

  &__showcase {
    max-width: none;

    @include mq(md) {
      display: none;
    }
  }

  &__showcase-desktop {
    max-width: none;
    display: none;

    @include mq(md) {
      display: block;
    }
  }

  &__bg {
    position: absolute;
    top: 9px;
    left: 48px;
    z-index: -1;
    background: #ff42ca;
    filter: blur(210.458px);
    opacity: 0.9;
    border-radius: 50%;
    width: 372px;
    height: 244px;

    @include mq(md) {
      top: 68px;
      left: 0;
      width: 566px;
      height: 371px;
      filter: blur(320px);
    }
  }

  hr {
    border: none;
    height: 1px;
    background-color: #cccccc;
  }

  hr:nth-of-type(1) {
    margin-bottom: 2px;
  }

  hr:nth-of-type(2) {
    margin-bottom: 40px;
  }

  &__testimonial {
    display: flex;
    column-gap: 24px;
  }

  &__name {
    margin-bottom: 12px;
  }

  &__quote-wrapper {
    margin-top: 16px;
  }

  &__quote {
    max-width: 330px;

    @include mq(md) {
      max-width: 232px;
    }

    @include mq(lg) {
      max-width: 330px;
    }
  }
}
