.hero {
  margin-top: 80px;

  &__container {
    position: relative;
  }

  &__intro {
    max-width: 340px;
    margin-bottom: 56px;
  }

  &__greet {
    display: block;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #999999;
    margin-bottom: 24px;
  }

  &__cta {
    margin-bottom: 24px;
  }

  &__desc {
    font-size: 22px;
    margin-bottom: 32px;
  }

  hr {
    border: none;
    height: 1px;
    background-color: #cccccc;
  }

  hr:nth-of-type(1) {
    margin-bottom: 2px;
  }

  hr:nth-of-type(2) {
    margin-bottom: 40px;
  }

  &__testimonial {
    display: flex;
    column-gap: 24px;
  }

  &__name {
    margin-bottom: 12px;
  }

  &__quote-wrapper {
    margin-top: 16px;
  }

  &__quote {
    max-width: 330px;
  }

  &__showcase {
    position: absolute;
    top: 0;
    right: 0;
    max-width: none;
  }
}
