.intro {
  padding-bottom: 24px;

  &__cards-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;

    @include mq(md) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__card {
    background-color: #ffffff;
    padding: 32px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;

    > img {
      align-self: center;
      justify-self: center;
      flex-shrink: 0;
    }
  }

  &__card-body {
    display: flex;
    flex-direction: column;
    gap: 16px;

    img {
      width: 32px;
      height: 32px;
    }

    button {
      align-self: flex-start;
    }
  }
}
