.nav {
  margin-top: 36px;

  &__container {
    display: flex;
    align-items: center;
  }

  &__toggler {
    height: 19px;
    display: grid;
    place-items: center;
    margin-right: 24px;
    position: relative;
    z-index: 1;
    cursor: pointer;

    @include mq(lg) {
      display: none;
    }
  }

  &__icon-bar {
    display: block;
    transition: 500ms;
  }

  &__icon-bar::before,
  &__icon-bar::after {
    content: '';
    position: absolute;
    left: 0;
    transition: 500ms;
  }

  &__icon-bar,
  &__icon-bar::before,
  &__icon-bar::after {
    width: 24px;
    height: 3px;
    background: #111111;
  }

  &__icon-bar::before {
    transform: translateY(calc(-100% + -5px));
  }

  &__icon-bar::after {
    transform: translateY(calc(100% + 5px));
  }

  &__toggler--active &__icon-bar::before {
    transform: rotate(45deg) translate(10px, -10px);
  }

  &__toggler--active &__icon-bar {
    transform: translateX(-15px);
    background: transparent;
  }

  &__toggler--active &__icon-bar::after {
    transform: rotate(-45deg) translate(10px, 10px);
  }

  &__logo {
    margin-right: auto;

    img {
      max-width: none;
    }

    @include mq(lg) {
      margin-right: 98px;
    }
  }

  &__menu {
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 90%;
    max-width: 250px;
    height: 100%;
    padding: 6rem 32px 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    transform: translateX(-100%);
    transition: 500ms;

    &--open {
      transform: translateX(0);
    }

    @include mq(lg) {
      width: 100%;
      max-width: none;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      background: none;
      position: static;
      padding: 0;
      transform: translateX(0);
    }
  }

  &__search {
    background: #eeeeee;
    border-radius: 8px;
    padding: 8px 12px;
    width: 100%;
    max-width: 448px;
    margin-bottom: 20px;

    @include mq(lg) {
      background: #ffffff;
      margin-bottom: 0;
    }
  }

  &__links-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include mq(lg) {
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  &__link {
    font-weight: 500;
    line-height: 1.188;
    display: block;
    padding: 22px;

    &:hover {
      background: #eeeeee;
      border-radius: 8px;
    }
    @include mq(lg) {
      padding: 0 22px 0 0;

      &:hover {
        color: gray;
      }
    }
  }

  &__user {
    img {
      max-width: none;
    }
  }
}
