.nav {
  margin-top: 36px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__toggler {
    width: 24px;
    height: 19px;
    display: grid;
    place-items: center;
    position: relative;
    margin-right: 24px;

    @include mq(small) {
      display: none;
    }
  }

  &__icon-bar,
  &__icon-bar::before,
  &__icon-bar::after {
    width: 100%;
    height: 3px;
    background-color: #111111;
  }

  &__icon-bar {
    display: block;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  &__logo {
    margin-right: auto;

    @include mq(small) {
      margin-right: 98px;
    }
  }

  input[type='search'] {
    display: none;
    margin-right: auto;
    background: #ffffff;
    border-radius: 8px;
    padding: 8px 12px;
    width: 448px;

    @include mq(small) {
      display: block;
    }
  }

  &__links-wrapper {
    display: none;
    column-gap: 22px;
    margin-right: 22px;

    @include mq(small) {
      display: flex;
    }
  }

  &__link {
    font-weight: 500;
    line-height: 1.188;
  }

  &__user {
    position: relative;
  }

  &__red-dot {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 8px;
    height: 8px;
    background: #ff4242;
    border: 3px solid #eeeeee;
    border-radius: 50%;
    box-sizing: content-box;
    transform: translate(3px, -3px);
  }
}
