.trending {
  &__container {
    background: #ffffff;
    border-radius: 8px;
    padding: 32px 32px 7px 32px;
  }

  ul {
    border-top: 1px solid #eeeeee;

    li {
      border-bottom: 1px solid #eeeeee;
      padding: 24px 0;
      display: flex;
      gap: 24px;
    }

    li:last-child {
      border-bottom: none;
    }
  }

  &__item-heading {
    margin-bottom: 12px;
  }

  &__percent {
    font-weight: 500;
    line-height: 1.188;

    &--high {
      color: #00a47c;
    }

    &--low {
      color: #c60202;
    }
  }
}
