.intro-card-upcoming {
  background: var(--bg-color);

  .intro-card__button {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    background: none;
  }

  &--1 {
    --bg-color: #ffd8e6;
    --text-color: #ff005c;
  }

  &--2 {
    --bg-color: #f2d8ff;
    --text-color: #aa00ff;
  }
}
