*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eeeeee;
  font-size: 16px;
  font-family: var(--body-font);
  line-height: 1.5;
}

button {
  background: none;
  border: none;
}

img {
  max-width: 100%;
  display: block;
}

input {
  font-family: var(--body-font);
  font-size: 1rem;
  background: none;
  border: none;
  line-height: 1.5;
}

::placeholder {
  color: #999999;
}
