$text-color: #555555;
$text-hover-color: lighten($text-color, 20%);
$primary-color: #42ffd2;
$primary-hover-color: darken($primary-color, 15%);
$secondary-color: #ffffff;
$secondary-hover-color: darken($secondary-color, 15%);
$light-color: #eeeeee;
$light-hover-color: darken($light-color, 15%);
